.navbar-toggler{
	box-shadow: none !important
}
.text-justify {
  text-align: justify;
}
.logo-bts{
  width: 200px !important;
  height: auto !important;
  max-width: none !important;
}
.titre-site{
  font-size: 2.2rem;       /* taille principale */
  font-weight: 600;
  color: #1F618D;
  font-family: Arial, sans-serif;
  line-height: 1.2;
}
