.navbar-toggler{
	box-shadow: none !important
}
.text-justify {
  text-align: justify;
}
.logo-bts{
  width: 200px !important;
  height: auto !important;
  max-width: none !important;
}

.titre-site{
  font-size: 2.4rem;
  font-weight: 600;
  color: #1F618D;
  line-height: 1.2;
}

.titre-ville{
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.15em;
  margin-top: 0.3rem;
  color: #2980B9;  /* bleu secondaire */
}
